BasicXamarinApp/.vs/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.Droid/bin/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.Droid/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.iOS/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp/bin/
