BasicXamarinApp/.vs/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.Droid/bin/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.Droid/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.iOS/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp/obj/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp/bin/
BasicXamarinApp/BasicXamarinApp/BasicXamarinApp.iOS/bin/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI.Droid/obj/
OrderFoodAppUI/.vs/OrderFoodAppUI/v16/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI.Droid/bin/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI.iOS/obj/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI/bin/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI/obj/
OrderFoodAppUI/OrderFoodAppUI/OrderFoodAppUI.iOS/bin/
